coc/.config/coc/extensions/node_modules
.DS_Store

textadept/.textadept/*
!textadept/.textadept/init.lua
!textadept/.textadept/themes

drawterm

# emacs stuff
emacs/.emacs.d/straight/
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/eln-cache
emacs/.emacs.d/#init.el#

bin/bin/clojure-lsp
bin/bin/lein