**/*~

coc/.config/coc/extensions/node_modules
.DS_Store

textadept/.textadept/*
!textadept/.textadept/init.lua
!textadept/.textadept/themes

drawterm

# emacs stuff
emacs/.emacs.d/straight/
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/eln-cache
emacs/.emacs.d/#init.el#
emacs/.emacs.d/transient/

# stuff in my bin i dont want to commit
bin/bin/clojure-lsp
bin/bin/lein
bin/bin/Discord
bin/bin/guile
bin/bin/guild

gnupg/.gnupg/*
!gnupg/.gnupg/gpg.conf
!gnupg/.gnupg/gpg-agent.conf
