* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: #1a1b26;
  color: #c0caf5;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #c0caf5;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
  background: #1d1f21;
  box-shadow: inset 0 -3px #c5c8c6;
}

#workspaces button.focused {
  background-color: #1a1b26;
  box-shadow: inset 0 -3px #c5c8c6;
}

#workspaces button.urgent {
  background-color: #cc6666;
}

#mode {
  background-color: #1a1b26;
  border-bottom: 3px solid #c5c8c6;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor {
  padding: 0 10px;
  margin: 0 4px;
  color: #abb2bf;
}

#window,
#workspaces {
  margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}


@keyframes blink {
  to {
    background-color: #c5c8c6;
    color: #000000;
  }
}


label:focus {
  background-color: #000000;
}


#custom-media {
  min-width: 100px;
}

#language {
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}
